In [ ]:
from notebook import notebookapp
servers = list(notebookapp.list_running_servers())
print(servers)

# Added value content: search for:
° adv

# Status
    Pandas Cookbook 
        Chapter 1 --> Done!
        Chapter 2 --> Done!
        Chapter 3 --> Done!
        Chapter 4 --> Done!
        Chapter 5 --> Done!
        Chapter 6 --> Done!
        Chapter 7 --> Customizing aggregating functions with *args and **kwargs

<a id='000'></a>
# Content
° [Libraries Import](#Libraries-Import)

° [Options](#Options)

° [I/O Methods](#I/O-Methods)

° [Indexes & Keys](#Indexes-&-Keys)

° [Headers](#Headers)
                
  *   [Renaming Columns](#001)
  
  *   [Field Membership](#002)
  
  *   [Get Column Location](#003)
  
  *   [Columns Examination](#004)
  
  *   [Extracting Members of a lists/ Selecting Fields](#005)
  
          for cycle
          abbreviate for cycle
          union and symmetric difference

° [Columns/Series](#Columns/Series)

° [Rows](#Rows)

° [DataFrame Manipulation](#DataFrame-Manipulation)


° [List & Dictionaries](#List-&-Dictionaries)

° [Excel Operations, Pivots, Vlookup](#Excel-Operations,-Pivots,-Vlookup)

° [Plots & Graphs](#Plots-&-Graphs)

° [Others](#Others)

    ° Improving readability of boolean indexing with the query method
    
    ° Converting data row by row
    
    ° Highlighting Max Values

° [Pandas Options](#Pandas-Options)

# Libraries Import
[back to Start](#Content)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

# Options
[back to Start](#Content)

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
#InteractiveShell.ast_node_interactivity = "last"

#from IPython.display import display
#pd.options.display.max_columns = 50
#pd.set_option('max_rows', 10)

pd.set_option("display.max_rows",10)    # or pd.options.display.max_rows=1000
pd.set_option("display.max_columns",20)   # or pd.options.display.max_columns=20 
pd.set_option('precision',7)
pd.set_option('large_repr', 'truncate')

# I/O Methods
[back to Start](#Content)

### Reading a CSV File

In [ ]:
#MOVIE DATABASE
movie= pd.read_csv('master/movie.csv', index_col='movie_title')
columns = movie.columns
type_col = type(columns)
index = movie.index
data = movie.values
columns.values
list(columns)
index.values
movie.head()
#Reading an Excel file

### Reading an Excel File

### Export csv/xls file

In [ ]:
writer_orig = pd.ExcelWriter('simple.xlsx', engine='xlsxwriter')
df.to_excel(writer_orig, index=False, sheet_name='report')
writer_orig.save()

# Indexes & Keys
[back to Start](#Content)

### Set_Index

In [ ]:
movie = pd.read_csv('master/movie.csv')
movie2 = movie.set_index('movie_title')

### Reset Index

In [ ]:
movie3 = pd.read_csv('master/movie.csv', index_col='movie_title')
print(set(movie2)==set(movie3))
movie2.reset_index()
print(set(movie)==set(movie2))
movie2.head()

### Renaming Index

In [ ]:
idx_rename = {'Avatar':'Ratava', 'Spectre': 'Ertceps'} 
movie.rename(index=idx_rename, inplace = True)
movie.head()

### Manipulating Index

In [ ]:
#1. Verifying unicity of index:
print("1_______________________________________")
college = pd.read_csv('master/college.csv')
college2 = college.set_index('STABBR')
college.index.is_unique
college2.index.is_unique

#2. Using several fields to create a new index
print("2_______________________________________")

college.index = college['CITY'] + ', ' + college['STABBR']
college = college.sort_index()
#college.loc['Miami, FL'].head(3)

crit1 = college['CITY'] == 'Miami' 
crit2 = college['STABBR'] == 'FL'

%timeit college[crit1 & crit2]

%timeit college.loc['Miami, FL']

# Headers
[back to Start](#000)

<a id='001'></a>
### Renaming Columns
[back to Start](#000)

In [ ]:
movie = pd.read_csv('master/movie.csv')
col_rename = {'director_name':'Director Name', 
              'num_critic_for_reviews': 'Critical Reviews'}

movie.rename(columns=col_rename).head()

In [ ]:
college = pd.read_csv('master/college.csv')
columns = college.columns
ext = ['CITY', 'MENONLY', 'WOMENONLY', 'UGDS_BLACK', 'UGDS_AIAN']
new_ext = ['City', 'Men', 'Women', 'Black', 'Asian']
rename_dict = dict(zip(ext, new_ext))
college2 = college.rename(columns=rename_dict)[new_ext]#, inplace=True)
college2.columns
college2.head()

<a id='002'></a>
### Field Membership
[back to Start](#000)

In [ ]:
'Director Name' in movie.columns

<a id='003'></a>
### Get Column Location
[back to Start](#000)

In [ ]:
movie.columns
movie.columns.get_loc('actor_3_facebook_likes')

<a id='004'></a>
### Columns Examination
[back to Start](#000)

In [ ]:
college = pd.read_csv('master/college.csv')
columns = college.columns
columns
columns.sort_values()
columns[5]
columns[[1,8,10]]
columns.values[[1,8,10]]
columns[[1,8,10]].tolist()
col_list = columns.tolist()

<a id='005'></a>
### Extracting Members of a lists/ Selecting Fields
[back to Start](#000)

In [ ]:
#col_list
ext=[]
for i in [1,4,5,12,15]:
    ext.append(col_list[i])
#[i for  j in col_list if i == j]
ext

In [ ]:
ext=[col_list[i] for i in [1,4,5,12,15]]
ext
print("http://blog.teamtreehouse.com/python-single-line-loops")

In [ ]:
columns.min(), columns.max(), columns.isnull().sum()

In [ ]:
c1 = columns[:4]
c1
c2 = columns[2:5]
c2
print("_________UNION___________")
c1.union(c2) #or
c1 | c2
print("_________symmetric diference___________")
c1.symmetric_difference(c2) #or
c1 ^ c2

# Columns/Series
[back to Start](#Content)

### Columns types and counting columns with a specific type

In [ ]:
movie= pd.read_csv('master/movie.csv')
movie.dtypes
movie.get_dtype_counts()

### Selecting a single column

In [ ]:
movie['director_name']
movie['director_name'].to_frame()# show columns as frame format
movie.director_name
movie.director_name.to_frame() # show columns as frame format
director = movie.director_name # save a Series to variable
type(director) #--Series
list(director) # convert a Serie/Column in a list or use:
director.tolist()
director.dtype

### Selecting multiple DataFrame columns

In [ ]:
movie_actor_director = movie[['actor_1_name', 'actor_2_name', 'actor_3_name', 'director_name']] # OR
cols =['actor_1_name', 'actor_2_name', 'actor_3_name', 'director_name']
movie_actor_director = movie[cols]

### Counting values (value_counts() method)

In [ ]:
director.value_counts() # method to determine frequency of elements in a Series
director.value_counts().sum()
director.value_counts(normalize = True)

### Column Lenght and Size

In [ ]:
director.size == len(director) # two ways to determine series's lenght
director.size == director.count() #size and count get different results if we have null values

### Statistic Properties

In [ ]:
director.describe()
actor_1_fb_likes = movie['actor_1_facebook_likes']
actor_1_fb_likes.quantile([.1, .2, .3, .4, .5, .6, .7, .8, .9])
actor_1_fb_likes.describe()
movie.describe()

### Inspecting Series (null values, zero values, etc)

In [ ]:
director.isnull()
director.isnull().sum()
director.size - director.count() == director.isnull().sum() #true!!

director.notnull()
director.notnull().sum()
director.hasnans

print(director.notnull().sum())
print(director.size)
print(len(director))
print(director.isnull().sum())

### Modifying a Serie

In [ ]:
actor_1_fb_likes.fillna(0)\
                .astype(int)\
                .head()

In [ ]:
print(director.notnull().sum())
print(director.size)
print(len(director))
print(director.isnull().sum())

In [ ]:
dir_list = director.tolist()
dir_list[98]

### Adding Columns

In [ ]:
'actor_director_facebook_likes' in movie.columns
movie['actor_director_facebook_likes'] = (movie['actor_1_facebook_likes'] + 
                                              movie['actor_2_facebook_likes'] + 
                                              movie['actor_3_facebook_likes'] + 
                                              movie['director_facebook_likes'])

print(movie.actor_director_facebook_likes.isnull().sum())
movie.actor_director_facebook_likes = movie.actor_director_facebook_likes.fillna(0)
print(movie.actor_director_facebook_likes.isnull().sum())

print('actor_director_facebook_likes' in movie.columns)

### Operations with Columns

In [ ]:
movie['actor_total_facebook_likes'] = (movie['actor_1_facebook_likes'] + 
                                       movie['actor_2_facebook_likes'] + 
                                       movie['actor_3_facebook_likes'])

movie['actor_total_facebook_likes'] = movie['actor_total_facebook_likes'].fillna(0)
movie['is_cast_likes_more'] = movie['cast_total_facebook_likes'] >=  movie['actor_total_facebook_likes']    
movie['is_cast_likes_more'].all()

### Dropping/ Delete Columns

In [ ]:
movie = movie.drop('actor_director_facebook_likes', axis='columns')
'actor_director_facebook_likes' in movie.columns
movie['is_cast_likes_more'].all()

### Selecting columns with methods

In [ ]:
movie.select_dtypes(include=['int']).head()
movie.select_dtypes(include=['number']).head()
movie.filter(like='facebook').head()
movie.filter(regex='\d').head()
movie.filter(items=['actor_1_name', 'asdf']).head()

### Inspecting DataFrames (null values, zero values, etc)

In [ ]:
movie.isnull().sum()
movie.isnull().sum().sum()
movie.isnull().any().any()

### Filtering Columns

In [ ]:
movie.columns
movie_actor = movie.filter(like='actor')
movie_actor.head()

### Operations on Axis (Columns/Axis 0)

In [ ]:
college = pd.read_csv('master/college.csv', index_col='INSTNM')
college_ugds_ = college.filter(like='UGDS_')
college_ugds_.count() # Default axis is the zero axis or index axis:
college_ugds_.count(axis = 0)
college_ugds_.count(axis = 'index')
college_ugds_.sum()

### Operations on Axis (Rows/Axis 1)

In [ ]:
college_ugds_.count(axis = 1)
college_ugds_.count(axis = 'columns')

college_ugds_cumsum = college_ugds_.cumsum(axis=1)
college_ugds_cumsum.sort_values('UGDS_HISP', ascending=False).head()
college_ugds_.isnull().sum(axis=1).sort_values(ascending=False).head()

### Selecting Subsets of Columns (.iloc)

In [ ]:
college = pd.read_csv('master/college.csv', index_col='INSTNM')
#college.iloc[:, :4]
college.iloc[:3, :4]
college.iloc[:3,:]

college.loc[:'Amridge University', :'MENONLY']

college.iloc[[100, 200], [7, 15]] # the following do the same
rows = ['GateWay Community College', 'American Baptist Seminary of the West']
columns = ['SATMTMID', 'UGDS_NHPI']
college.loc[rows, columns]

### Selecting data with both integers and labels

In [ ]:
college = pd.read_csv('master/college.csv', index_col='INSTNM')
col_start = college.columns.get_loc('UGDS_WHITE')
col_end = college.columns.get_loc('UGDS_UNKN') + 1
col_start, col_end
college.iloc[:5, col_start:col_end]

# Rows
[back to Start](#Content)

### Selecting Subset of Columns

In [ ]:
college = pd.read_csv('master/college.csv', index_col='INSTNM')
city = college['CITY']
#city.to_frame()

city.iloc[3]
city.iloc[[3]]
city.iloc[[10,20,30]]
city.iloc[4:50:10]

city.loc['Heritage Christian University']

labels = list(np.random.choice(city.index, 4))
labels
city.loc[labels]

city.loc['Alabama State University':'Reid State Technical College':10]

college.iloc[[60, 99, 3]].index.tolist()

# DataFrame Manipulation
[back to start](#000)

In [ ]:
### Reading the File
college = pd.read_csv('master/college.csv', index_col='INSTNM')
college.head()

In [ ]:
#filtering columns
college_ugds_ = college.filter(like='UGDS_')
college_ugds_.head()

In [ ]:
#sorting
college_ugds_.isnull().sum(axis=1).sort_values(ascending=False)

In [ ]:
#drop na
college_ugds_ = college_ugds_.dropna(how='all')
college_ugds_.isnull().sum()
college_ugds_.isnull().sum().sum()

In [ ]:
#Other Manipulations
college_ugds_.ge(.15).head()
diversity_metric = college_ugds_.ge(.15).sum(axis='columns')
diversity_metric.head()
diversity_metric.value_counts()
diversity_metric.sort_values(ascending=False).head()

In [ ]:
college.shape
college.describe(include = [np.number]).T

In [ ]:
college.describe(include=[np.object, pd.Categorical]).T

In [ ]:
# Selecting the smallest of the largest
movie = pd.read_csv('master/movie.csv')
movie2 = movie[['movie_title', 'imdb_score', 'budget']]

movie2.nlargest(10, 'imdb_score')
movie2.nlargest(10, 'imdb_score').nsmallest(5,'budget')

In [ ]:
#SORTING DataFrame (sort_values method)
movie4 = movie[['movie_title', 'title_year', 'content_rating', 'budget']]
movie4_sorted = movie4.sort_values(['title_year', 'content_rating', 'budget'], 
                                   ascending=[True, False, True],
                                  inplace = False)
movie4_sorted.drop_duplicates(subset=['title_year', 'content_rating']).head(10)

### Droping Duplicates

In [ ]:
data = pd.DataFrame({'k1': ['one'] * 3 + ['two'] * 4, 'k2': [3, 2, 1, 3, 3, 4, 4]})
data.sort_values(by='k2')
data.drop_duplicates()  # by default, duplicate is defined by all columns
data.drop_duplicates(subset='k1')  # duplicate in column k1 only

### Creating a Column using map

In [ ]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon', 'Pastrami','corned beef', 'Bacon', 'pastrami', 'honey ham','nova lox'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data
meat_to_animal = {
'bacon': 'pig',
'pulled pork': 'pig',
'pastrami': 'cow',
'corned beef': 'cow',
'honey ham': 'pig',
'nova lox': 'salmon'
}

data['animal'] = data['food'].map(meat_to_animal) #see row 4 and 5
data

data['animal'] = data['food'].map(str.lower).map(meat_to_animal) 
data

### Adding a column using assign function, vlookup with map, grouping and include total row (adv)

In [30]:
df = pd.DataFrame({'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5),
                   'data3' : np.random.randn(5)})
df

       data1      data2      data3
0 -0.1050207 -0.8682810  1.7301241
1  0.4941054  0.0874821 -1.2302921
2  1.1069204 -1.4387491  1.2218795
3 -0.3504840  1.0339074  0.1122596
4 -0.0155836 -0.2651210 -0.0706888

In [31]:
df['city'] = ['Caracas', 'Maturin', 'Valencia', 'Barcelona','Londres']
df.set_index('city', inplace = True)
df

               data1      data2      data3
city
Caracas   -0.1050207 -0.8682810  1.7301241
Maturin    0.4941054  0.0874821 -1.2302921
Valencia   1.1069204 -1.4387491  1.2218795
Barcelona -0.3504840  1.0339074  0.1122596
Londres   -0.0155836 -0.2651210 -0.0706888

In [32]:
# this show a result without adding the column, useful to preserve original df
df.assign(ratio = df['data1'] / df['data2']) 
df.assign(average = df.mean(axis=1))

               data1      data2      data3      ratio
city
Caracas   -0.1050207 -0.8682810  1.7301241  0.1209524
Maturin    0.4941054  0.0874821 -1.2302921  5.6480772
Valencia   1.1069204 -1.4387491  1.2218795 -0.7693631
Barcelona -0.3504840  1.0339074  0.1122596 -0.3389898
Londres   -0.0155836 -0.2651210 -0.0706888  0.0587791

               data1      data2      data3    average
city
Caracas   -0.1050207 -0.8682810  1.7301241  0.2522741
Maturin    0.4941054  0.0874821 -1.2302921 -0.2162349
Valencia   1.1069204 -1.4387491  1.2218795  0.2966836
Barcelona -0.3504840  1.0339074  0.1122596  0.2652277
Londres   -0.0155836 -0.2651210 -0.0706888 -0.1171311

In [33]:
# this, instead, add a column to the original dataframe
df['ratio']= df['data1'] / df['data2'] 
df['average'] = df.mean(axis=1)
df

               data1      data2      data3      ratio    average
city
Caracas   -0.1050207 -0.8682810  1.7301241  0.1209524  0.2194437
Maturin    0.4941054  0.0874821 -1.2302921  5.6480772  1.2498431
Valencia   1.1069204 -1.4387491  1.2218795 -0.7693631  0.0301719
Barcelona -0.3504840  1.0339074  0.1122596 -0.3389898  0.1141733
Londres   -0.0155836 -0.2651210 -0.0706888  0.0587791 -0.0731536

In [34]:
#this will drop the selected column
if 'ratio' in df.columns: df.drop('ratio', axis = 'columns', inplace = True)
df

               data1      data2      data3    average
city
Caracas   -0.1050207 -0.8682810  1.7301241  0.2194437
Maturin    0.4941054  0.0874821 -1.2302921  1.2498431
Valencia   1.1069204 -1.4387491  1.2218795  0.0301719
Barcelona -0.3504840  1.0339074  0.1122596  0.1141733
Londres   -0.0155836 -0.2651210 -0.0706888 -0.0731536

In [35]:
#replace values with nan values
df['ratio']=[1,1,999,999,1]
df
df.ratio.replace(999,np.nan, inplace = True)
df
df.ratio.replace(np.nan, 'not available', inplace = True)
df

               data1      data2      data3    average  ratio
city
Caracas   -0.1050207 -0.8682810  1.7301241  0.2194437      1
Maturin    0.4941054  0.0874821 -1.2302921  1.2498431      1
Valencia   1.1069204 -1.4387491  1.2218795  0.0301719    999
Barcelona -0.3504840  1.0339074  0.1122596  0.1141733    999
Londres   -0.0155836 -0.2651210 -0.0706888 -0.0731536      1

               data1      data2      data3    average  ratio
city
Caracas   -0.1050207 -0.8682810  1.7301241  0.2194437    1.0
Maturin    0.4941054  0.0874821 -1.2302921  1.2498431    1.0
Valencia   1.1069204 -1.4387491  1.2218795  0.0301719    NaN
Barcelona -0.3504840  1.0339074  0.1122596  0.1141733    NaN
Londres   -0.0155836 -0.2651210 -0.0706888 -0.0731536    1.0

               data1      data2      data3    average          ratio
city
Caracas   -0.1050207 -0.8682810  1.7301241  0.2194437              1
Maturin    0.4941054  0.0874821 -1.2302921  1.2498431              1
Valencia   1.1069204 -1.4387491  1.2218795  0.0301719  not available
Barcelona -0.3504840  1.0339074  0.1122596  0.1141733  not available
Londres   -0.0155836 -0.2651210 -0.0706888 -0.0731536              1

In [36]:
#vlookup with map
city_to_country = {
'Caracas': 'Venezuela',
'Valencia': 'Spain',
'Londres': 'England',
'Maturin': 'Venezuela',
'Barcelona': 'Spain',
'Milan': 'Italy'
}
df.reset_index(inplace = True)
df['country']=df['city'].map(city_to_country)
df.set_index('city', inplace = True)
df

,data1,data2,data3,average,ratio,country
city,,,,,,
Caracas,-0.1050207,-0.8682810,1.7301241,0.2194437,1,Venezuela
Maturin,0.4941054,0.0874821,-1.2302921,1.2498431,1,Venezuela
Valencia,1.1069204,-1.4387491,1.2218795,0.0301719,not available,Spain
Barcelona,-0.3504840,1.0339074,0.1122596,0.1141733,not available,Spain
Londres,-0.0155836,-0.2651210,-0.0706888,-0.0731536,1,England

In [37]:
df2 = df.copy()
df2.reset_index()
df2.groupby(['country','city']).sum()
total = df2.groupby('country').sum()
total.index = "Total " + total.index
#final = pd.concat(df2.reset_index().groupby(['country','city']).sum().reset_index(), total)
pd.concat((df2.reset_index(),
                 df2.reset_index().groupby(['country']).aggregate('sum').reset_index())).\
                      sort_values(['country','city']).\
                      fillna('total').\
                      set_index(['country','city'])

,city,data1,data2,data3,average,ratio,country
0,Caracas,-0.1050207,-0.8682810,1.7301241,0.2194437,1,Venezuela
1,Maturin,0.4941054,0.0874821,-1.2302921,1.2498431,1,Venezuela
2,Valencia,1.1069204,-1.4387491,1.2218795,0.0301719,not available,Spain
3,Barcelona,-0.3504840,1.0339074,0.1122596,0.1141733,not available,Spain
4,Londres,-0.0155836,-0.2651210,-0.0706888,-0.0731536,1,England

                         data1      data2      data3    average
country   city
England   Londres   -0.0155836 -0.2651210 -0.0706888 -0.0731536
Spain     Barcelona -0.3504840  1.0339074  0.1122596  0.1141733
          Valencia   1.1069204 -1.4387491  1.2218795  0.0301719
Venezuela Caracas   -0.1050207 -0.8682810  1.7301241  0.2194437
          Maturin    0.4941054  0.0874821 -1.2302921  1.2498431

                       average      data1      data2      data3          ratio
country   city
England   Londres   -0.0731536 -0.0155836 -0.2651210 -0.0706888              1
          total     -0.0731536 -0.0155836 -0.2651210 -0.0706888          total
Spain     Barcelona  0.1141733 -0.3504840  1.0339074  0.1122596  not available
          Valencia   0.0301719  1.1069204 -1.4387491  1.2218795  not available
          total      0.1443453  0.7564364 -0.4048416  1.3341391          total
Venezuela Caracas    0.2194437 -0.1050207 -0.8682810  1.7301241              1
          Maturin    1.2498431  0.4941054  0.0874821 -1.2302921              1
          total      1.4692868  0.3890847 -0.7807990  0.4998320          total

### Convert Python dict into a dataframe and then comeback to a dicitionay (tag: zip, to_dict)

In [95]:
city_to_country = {
'Caracas': 'Venezuela',
'Valencia': 'Spain',
'Londres': 'England',
'Maturin': 'Venezuela',
'Barcelona': 'Spain',
'Milan': 'Italy'}
ctcdf = pd.DataFrame(list(city_to_country.items()), columns = ['city','country'])
ctcdf.set_index('city')
dizio = ctcdf.to_dict('list')
dizio

             country
city
Caracas    Venezuela
Valencia       Spain
Londres      England
Maturin    Venezuela
Barcelona      Spain
Milan          Italy

{'city': ['Caracas', 'Valencia', 'Londres', 'Maturin', 'Barcelona', 'Milan'],
 'country': ['Venezuela', 'Spain', 'England', 'Venezuela', 'Spain', 'Italy']}

In [96]:
dizio = dict(zip(dizio['city'], dizio['country']))
dizio
city_to_country

{'Barcelona': 'Spain',
 'Caracas': 'Venezuela',
 'Londres': 'England',
 'Maturin': 'Venezuela',
 'Milan': 'Italy',
 'Valencia': 'Spain'}

{'Barcelona': 'Spain',
 'Caracas': 'Venezuela',
 'Londres': 'England',
 'Maturin': 'Venezuela',
 'Milan': 'Italy',
 'Valencia': 'Spain'}

### Calculating Boolean Statistics

In [ ]:
print("Filtering in function of values (one condition)")

m120 = movie.duration.dropna().gt(120)
m120.head()
print("1. lenght and count")
m120.count()
len(m120)
print("2. basic statistics")
m120.sum()
m120.mean()
print("3. value_counts() & describe")
m120.value_counts()
m120.value_counts(normalize = True)
m120.describe()

### Multiple Boolean Conditions

In [ ]:
movie = pd.read_csv('master/movie.csv', index_col='movie_title')
#Criteria A (multiple conditions)
print("Criteria A")
crit_a1 = movie.imdb_score > 8
crit_a2 = movie.content_rating == 'PG-13'
crit_a3 = (movie.title_year < 2000) | (movie.title_year > 2009)
final_crit_a = crit_a1 & crit_a2 & crit_a3
final_crit_a.value_counts(normalize = True)
final_crit_a.value_counts()

#Criteria B (multiple conditions)
print("Criteria B")
crit_b1 = movie.imdb_score >8
crit_b2 = movie.content_rating == 'R'
crit_b3 = (movie.title_year >= 2000) & (movie.title_year <= 2010)
final_crit_b = crit_b1 & crit_b2 & crit_b3
final_crit_b.value_counts(normalize = True)
final_crit_b.value_counts()

print("Final criteria")
final_crit_all = final_crit_a | final_crit_b
final_crit_all.value_counts(normalize = True)
final_crit_all.value_counts()

print("Final Result:")
cols = ['imdb_score', 'content_rating', 'title_year']
movie_filtered = movie.loc[final_crit_all, cols]
movie_filtered.head(10)

### Filtering (boolean vs loc method)

In [ ]:
movie= pd.read_csv('master/movie.csv')
%timeit movie[movie.country == 'USA']
movie2 = movie.set_index('country')
%timeit movie2.loc['USA']
print("Index filtering with loc is always faster")

### Masking DataFrame rows

In [ ]:
movie = pd.read_csv('master/movie.csv', index_col='movie_title')
c1 = movie['title_year'] >= 2010
c2 = movie['title_year'].isnull()
criteria = c1 | c2

#movie.mask(criteria).head() #hide the criteria
movie.mask(~criteria).head() #complement to criteria
movie_c = movie.mask(criteria).append(movie.mask(~criteria))
set(movie) == set (movie_c)

### Group by

In [ ]:
college = pd.read_csv('master/college.csv', index_col='INSTNM')
college_ugds_= college.filter(like='UGDS').copy()

college_ugds_['City']=college['CITY']

college_ugds_.groupby(['City','INSTNM']).sum()

In [ ]:
#Other example
# For each origin to destination flight, find the total number of flights, 
# the number and percentage of cancelled flights and the average and variance of the airtime. 
flights = pd.read_csv('master/flights.csv')
group_cols = ['ORG_AIR', 'DEST_AIR']
agg_dict = {'CANCELLED':['sum', 'mean', 'size'], 
            'AIR_TIME':['mean', 'var']}
flights.groupby(group_cols).agg(agg_dict).head()
# flights.groupby(['ORG_AIR', 'DEST_AIR']).agg({'CANCELLED': ['sum', 'mean', 'size'], 
#                                               'AIR_TIME':['mean', 'var']}).head()

### Removing the MultiIndex after grouping

In [ ]:
flights = pd.read_csv('master/flights.csv')
flights.head()
airline_info = flights.groupby(['AIRLINE', 'WEEKDAY'])\
                      .agg({'DIST':['sum', 'mean'], 
                                    'ARR_DELAY':['min', 'max']}).astype(int)
airline_info.head()
level0 = airline_info.columns.get_level_values(0)
level0
level1 = airline_info.columns.get_level_values(1)
level1
airline_info.columns = level0 + '_' + level1
airline_info.reset_index().head(7)

### Customizing an aggregation function and changing the label of the function

In [ ]:
college = pd.read_csv('master/college.csv')
college.groupby('STABBR')['UGDS'].agg(['mean', 'std']).round(0).head()

In [ ]:
def max_deviation(s):
    std_score = (s - s.mean()) / s.std()
    return std_score.abs().max()

In [ ]:
college.groupby(['STABBR', 'RELAFFIL'])['UGDS', 'SATVRMID', 'SATMTMID']\
       .agg([max_deviation, 'mean', 'std']).round(1).head()
max_deviation.__name__
max_deviation.__name__ = 'Max Deviation'
college.groupby(['STABBR', 'RELAFFIL'])['UGDS', 'SATVRMID', 'SATMTMID']\
       .agg([max_deviation, 'mean', 'std']).round(1).head()

### Preserving Series with the where method

In [ ]:
movie = pd.read_csv('master/movie.csv', index_col='movie_title')
fb_likes = movie['actor_1_facebook_likes'].dropna()
fb_likes.head()

fb_likes.describe(percentiles=[.1, .25, .5, .75, .9]).astype(int)

fb_likes.describe(percentiles=[.1,.25,.5,.75,.9])

fb_likes.hist()

criteria_high = fb_likes < 20000
criteria_high.mean().round(2)

fb_likes.where(criteria_high).head()

fb_likes.where(criteria_high, other=20000).head()

### Appending Columns from different DataFrames (like vlookup)

In [ ]:
employee = pd.read_csv('master/employee.csv')
#select the DEPARTMENT and BASE_SALARY columns in a new DataFrame:
dept_sal = employee[['DEPARTMENT', 'BASE_SALARY']]
dept_sal.head()

#Sort this smaller DataFrame by salary within each department
dept_sal = dept_sal.sort_values(['DEPARTMENT', 'BASE_SALARY'],
                                ascending=[True, False])
dept_sal.head()

#Use the drop_duplicates method to keep the first row of each DEPARTMENT:
max_dept_sal = dept_sal.drop_duplicates(subset='DEPARTMENT')
max_dept_sal.head()

#Put the DEPARTMENT column into the index for each DataFrames
max_dept_sal = max_dept_sal.set_index('DEPARTMENT')
employee = employee.set_index('DEPARTMENT')


#Now that the indexes contain matching values, we can append a new column to the employee DataFrame:
employee['MAX_DEPT_SALARY'] = max_dept_sal['BASE_SALARY']
employee.head()

In [ ]:
max_dept_sal.size
employee.shape

# List & Dictionaries
[back to Start](#Content)

## Lists

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1, 2, 3, 4, 5 ];
list3 = ["a", "b", "c", "d"]
list1[0]
list2[1:5]
list3
list2[2]= 2001
list2
list1.append(1979)
del list1[:2]
list1
list1 + list2

In [ ]:
#List membership
1979 in (list1+list2)
900 in (list1+list2)

In [ ]:
i= 0
list4b=[]
list4a = [1,2,3,4,5,6,7,8,9]
for x in list4a:
    list4b.append(x**2)
    i+=1

list4a
list4b

In [ ]:
colors = ["red", "green", "blue", "purple"]
i = 0
while i < len(colors):
    print(colors[i])
    i += 1

In [ ]:
colors = ["red", "green", "blue", "purple"]
for i in range(len(colors)):
    print(colors[i])

In [ ]:
presidents = ["Washington", "Adams", "Jefferson", "Madison", "Monroe", "Adams", "Jackson"]
for num, name in enumerate(presidents, start=1):
    print("President {}: {}".format(num, name))

In [ ]:
colors = ["red", "green", "blue", "purple"]
ratios = [0.2, 0.3, 0.1, 0.4]
for i, color in enumerate(colors):
    ratio = ratios[i]
    print("{}% {}".format(ratio * 100, color))

In [ ]:
for color, ratio in zip(colors, ratios):
    print("{}% {}".format(ratio * 100, color))

In [ ]:
col_rat = zip(colors, ratios)
col_rat

In [ ]:
a = input("Enter a name: ")
print(a)

In [ ]:
#compare lists
a = [1, 2, 3, 4, 5]
b = [1, 8, 5, 6, 0, 2,4]
set(a) & set(b)
#comparing one by one
[i for i, j in zip(a, b) if i == j]

In [ ]:
def double_stuff(a_list):
    """ Overwrite each element in a_list with double its value. """
    for (idx, val) in enumerate(a_list):
        a_list[idx] = 2 * val

In [ ]:
list4a = [1,2,3,4,5,6,7,8,9]
double_stuff(list4a)
list4a
list4a.reverse()
list4a.sort()

# Excel Operations, Pivots, Vlookup
[back to Start](#Content)

# Plots & Graphs
[back to Start](#Content)

# Others
[back to Start](#Content)

## Explicit Operations

In [ ]:
movie = pd.read_csv('master/movie.csv')
imdb_score = movie['imdb_score']
imdb_score.add(1)              # imdb_score + 1

imdb_score.mul(2.5)            # imdb_score * 2.5

imdb_score.floordiv(7)         # imdb_score // 7

imdb_score.gt(7)               # imdb_score > 7

director.eq('James Cameron')   # director == 'James Cameron'

## Improving readability of boolean indexing with the query method

In [ ]:
employee = pd.read_csv('master/employee.csv')
depts = ['Houston Police Department-HPD', 'Houston Fire Department (HFD)']
select_columns = ['UNIQUE_ID', 'DEPARTMENT', 'GENDER', 'BASE_SALARY']


qs = "DEPARTMENT in @depts " \
         "and GENDER == 'Female' " \
         "and 80000 <= BASE_SALARY <= 120000"
        
emp_filtered = employee.query(qs)
emp_filtered[select_columns].head()

top10_depts = employee.DEPARTMENT.value_counts().index[:10].tolist()
qs = "DEPARTMENT not in @top10_depts and GENDER == 'Female'"
employee_filtered2 = employee.query(qs)
employee_filtered2[['DEPARTMENT', 'GENDER']].head()

### Converting data row by row

In [ ]:
college = pd.read_csv('master/college.csv', index_col='INSTNM')
college.dtypes

In [ ]:
cols = ['MD_EARN_WNE_P10', 'GRAD_DEBT_MDN_SUPP']
for col in cols:
    college[col] = pd.to_numeric(college[col], errors='coerce')

college.dtypes.loc[cols]

### Selecting only numerical columns

In [ ]:
college_n = college.select_dtypes(include=[np.number])
college_n.head() # only numeric columns

In [ ]:
#find all the columns that have two unique values with the nunique method
criteria = college_n.nunique() == 2
criteria.head()
binary_cols = college_n.columns[criteria].tolist()
binary_cols
#droppin bynary cols
college_n2 = college_n.drop(labels=binary_cols, axis='columns')
college_n2.head()

In [ ]:
#Use the idxmax method to find the index label of the maximum value for each column:
max_cols = college_n2.idxmax()
max_cols

### Highlighting Max Values

In [ ]:
#Unique column names
unique_max_cols = max_cols.unique()
unique_max_cols[:5]
college_n2.loc[unique_max_cols].style.highlight_max()

In [ ]:
college = pd.read_csv('master/college.csv', index_col='INSTNM')
college_ugds = college.filter(like='UGDS_').head()
college_ugds.style.highlight_max(axis='columns')

### Finding th most common maximum

In [ ]:
college = pd.read_csv('master/college.csv', index_col='INSTNM')
college_ugds = college.filter(like='UGDS_')
college_ugds.head()

In [ ]:
highest_percentage_race = college_ugds.idxmax(axis='columns')
highest_percentage_race.head()

In [ ]:
highest_percentage_race.value_counts(normalize=True)

# Pandas Options
[back to Start](#Content)

In [ ]:
# pd.set_option('max_columns', 8, 'max_rows', 10)

In [ ]:
# pd.options.display.max_columns = 40