<a id="top"></a>

<center><h1>Python <a href="http://pandas.pydata.org/pandas-docs/stable/">Pandas</a> Cheat Sheet</h1></center>

As a data analyst, these are common tasks I perform using Pandas

- [Pandas display output options](#options)
- [Quick summary statistics, # of rows, columns, etc](#quick_summary)
- [Sorting More Than One Column](#sorting)
- [Removing duplicates](#removing_duplicates)
- [Creating a column based on values from another column](#map)
- [Removing a column](#remove_column)
- [Replacing values in a series](#replacing_values)
- [Reading CSV or Excel files](http://pandas.pydata.org/pandas-docs/stable/io.html)
- [Renaming axis](#renaming_axis)
- [Renaming indexes or columns](#renaming_indexes_columns)
- [Binning data into intervals](#binning)
- [Grouping data](#group)
- [Sub-selecting or Slicing a Data Frame](#slicing)
- [Boolean indexing](#boolean)
- [Obtaining columns with partial column labels](#partial_column_labels)
- [Getting value counts](#value_counts)
- [Getting cumulative sum](#cum_sum)
- [Pivot table](#pivot_table)
- [Creating a new column based on a grouping using transform() method](#transform)
- [Pivot table Percent of Rows](#perc_rows)
- [Pivot table Percent of Columns](#perc_columns)
- [Transpose a data frame](#transpose)
- [Converting index to a column](#index2column)
- [Converting column to index](#column2index)
- [How to add or fill in missing dates](#missing_dates)
- [How to connect to an ODBC data source (Windows)](#database)
- [How to convert data in wide format to long format using melt()](#melt)
- [How to convert data in long format data to wide format using pivot()](#pivot)
- [Using category data type to control sort order](#category)
- [Merging 2 data frames using merge()](#merge)
- [Finding rows containing data with missing values](#missing)
- [Converting a data type of a column in a data frame](#convert_type)
- [Plotting data frames using MATPLOTLIB ver 1.5+](#matplotlib)
- [Plotting data frame directly and creating sub-plots](#subplots)
- [Creating a Bokeh chart from a Data Frame](#bokeh)
- [Making plotly charts directly from data frame](#plotly)
- [Method chaining](#chaining)
- [Sending Pandas data frame to R using rpy2 IPython notebook extension](#rpy2)
- [Python clone of R's dplyr](http://nbviewer.jupyter.org/github/pybokeh/jupyter_notebooks/blob/master/dplython/dplython_example.ipynb)
- [BONUS #1: A HUGE list of python and pandas snippets by Chris Albon](http://chrisalbon.com/)
- [BONUS #2: More goodies from a major pandas contributor, Tom Augspurger](http://tomaugspurger.github.io/)

<a id='options'></a>

### Setting display output [options](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.set_option.html)

[[back to top](#top)]

In [ ]:
import pandas as pd
pd.set_option("display.max_rows",1000)    # or pd.options.display.max_rows=1000
pd.set_option("display.max_columns",20)   # or pd.options.display.max_columns=20 
pd.set_option('precision',7)
pd.set_option('large_repr', 'truncate')

<a id="quick_summary">

### Quick summary statistics using df.describe() and data types using df.info().  Also check out [pandas-summary](https://github.com/mouradmourafiq/pandas-summary) - an extension for data frame's describe() method.

[[back to top]](#top)

In [ ]:
import pandas as pd
data = pd.DataFrame({'group': ['a', 'a', 'a', 'b','b', 'b', 'c', 'c','c'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

In [ ]:
data.describe()

### df.info() shows data types, number of rows and columns, and memory usage of your data frame

In [ ]:
data.info()

<a id='sorting'></a>

### Sorting More Than One Column

[[back to top]](#top)

**Just pass a list of columns you want to sort and pass corresponding list of True/False to the ascending parameter**

In [ ]:
data.sort_values(by=['group','ounces'], ascending=[False, True], inplace=True)
data

<a id='removing_duplicates'></a>

### Removing duplicates

[[back to top](#top)]

In [2]:
import pandas as pd
data = pd.DataFrame({'k1': ['one'] * 3 + ['two'] * 4, 'k2': [3, 2, 1, 3, 3, 4, 4]})
data

    k1  k2
0  one   3
1  one   2
2  one   1
3  two   3
4  two   3
5  two   4
6  two   4

In [3]:
data.sort_values(by='k2')
data

    k1  k2
0  one   3
1  one   2
2  one   1
3  two   3
4  two   3
5  two   4
6  two   4

In [4]:
data.drop_duplicates()  # by default, duplicate is defined by all columns

    k1  k2
0  one   3
1  one   2
2  one   1
3  two   3
5  two   4

### Define duplicates by column name(s):

In [ ]:
data.drop_duplicates(subset='k1')  # duplicate in column k1 only

<a id="map"></a>

### Creating a new column based on values from another column

[[back to top](#top)]

In [5]:
import pandas as pd
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon', 'Pastrami','corned beef', 'Bacon', 'pastrami', 'honey ham','nova lox'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

### Suppose you wanted to add a column indicating the type of animal that each food came from. Let’s write down a mapping of each distinct meat type to the kind of animal using a dictionary and a function:

In [6]:
meat_to_animal = {
'bacon': 'pig',
'pulled pork': 'pig',
'pastrami': 'cow',
'corned beef': 'cow',
'honey ham': 'pig',
'nova lox': 'salmon'
}

def meat2animal(series):
    if series["food"]=='bacon':
        return 'pig'
    elif series["food"]=='pulled pork':
        return 'pig'
    elif series["food"]=='pastrami':
        return 'cow'
    elif series["food"]=='corned beef':
        return 'cow'
    elif series["food"]=='honey ham':
        return 'pig'
    else:
        return 'salmon'

In [7]:
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

#### Or we could use apply() and apply the meat2animal() function to the new column:

In [ ]:
# axis=1 means to apply the function for each row, but I prefer to use axis='columns' instead
data['animal2'] = data.apply(meat2animal,axis='columns')
data

### We can also use [dataframe.assign()](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#dsintro-chained-assignment) function which was added in pandas version 0.16

In [8]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})

df.assign(ratio = df['data1'] / df['data2'])

      data1     data2     ratio
0  1.165642 -0.929529 -1.254014
1 -0.247359 -0.533180  0.463931
2 -0.399657  1.021705 -0.391166
3 -1.275274 -0.732904  1.740028
4  1.026061  0.622581  1.648077

[[back to top](#top)]

<a id='remove_column'></a>

### Removing or dropping a column

[[back top top](#top)]

In [ ]:
data.drop('animal2', axis='columns', inplace=True)  # dropping/removing a column
data

<a id="replacing_values"></a>

### Replacing Values in a Series

[[back to top](#top)]

In [9]:
import pandas as pd
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

#### If you want to replace -999 with NaN:

In [ ]:
data.replace(-999, np.nan, inplace=True)
data

#### If you want to replace multiple values at once, you instead pass a list then the substitute value:

In [ ]:
import pandas as pd
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

In [ ]:
data.replace([-999, -1000], np.nan, inplace=True)
data

<a name="renaming_axis"></a>
<br>
<br>

### Renaming Axis Indexes

[[back to top](#top)]

In [10]:
import pandas as pd
data = pd.DataFrame(np.arange(12).reshape((3, 4)),index=['Ohio', 'Colorado', 'New York'],columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [11]:
data.index.map(str.upper)

Index(['OHIO', 'COLORADO', 'NEW YORK'], dtype='object')

In [12]:
data.index = data.index.map(str.upper)
data

          one  two  three  four
OHIO        0    1      2     3
COLORADO    4    5      6     7
NEW YORK    8    9     10    11

#### If you want to create a transformed version of a data set without modifying the original, a useful method is rename:

In [ ]:
data.rename(index=str.title, columns=str.upper, inplace=True)  # str.title means to make the 1st letter capitalized only
data

<a id="renaming_indexes_columns"></a>

### Renaming Indexes or Columns

[[back to top](#top)]

#### <i>rename()</i> can be used in conjunction with a dict-like object providing new values for a subset of the axis labels:

In [ ]:
import pandas as pd
data = pd.DataFrame(np.arange(12).reshape((3, 4)),index=['Ohio', 'Colorado', 'New York'],columns=['one', 'two', 'three', 'four'])
data

In [ ]:
data.rename(index={'Ohio': 'INDIANA'},columns={'three': 'peekaboo'},inplace=True)
data

You can also apply str functions to modify the index or column labels

In [ ]:
data.rename(index=str.title, columns=str.upper, inplace=True)  # str.title means to make the 1st letter capitalized only
data

<a id="binning"></a>

### Binning Data Into Intervals

[[back to top](#top)]

In [ ]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

#### Let’s divide these into bins of 18 to 25, 26 to 35, 35 to 60, and finally 60 and older. To do so, you have to use <i>cut()</i> function:

In [ ]:
bins = [18, 25, 35, 60, 100]

In [ ]:
cats = pd.cut(ages, bins)
cats

In [ ]:
cats.labels

In [ ]:
cats.levels

In [ ]:
pd.value_counts(cats)

#### If you want the right value to be exclusive in the intervals:

In [ ]:
pd.cut(ages, [18, 26, 36, 61, 100], right=False)

#### You can also pass your own bin names by passing a list or array to the labels option:

In [ ]:
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']
pd.cut(ages, bins, labels=group_names)
pd.value_counts(pd.cut(ages, bins, labels=group_names))

[[back to top](#top)]

<a id="group"></a>

## Grouping Data ( see also [value_count()](#value_counts) and [pivot_table()](#pivot_table) )

[[back to top](#top)]

In [ ]:
import pandas as pd

df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})
df

In [ ]:
grouped = df['data1'].groupby(df['key1'])
grouped.mean()

<a id='slicing'></a>

## Sub-selecting or Slicing a Data Frame

[[back to top](#top)]

Filtering by label name: [[loc](#loc)]<br>
Filtering by index row and/or column: [[iloc](#iloc)]

<a id='df'></a>

In [ ]:
import numpy as np
import pandas as pd

dates = pd.date_range('20130101',periods=6)
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

### Getting first n rows of data frame using index slicing syntax

In [ ]:
df[0:3]  # get first 3 rows of the data frame

### Slicing based on data frame's index range

In [ ]:
df['20130102':'20130104'] # get rows by index range

<a id='loc'></a>

### Slicing based on column labels/names using loc

[[view df](#slicing)]

In [ ]:
df.loc[:,['A','B']]  # syntax is: df.loc[rows_index, cols_index]

### Slicing based on row index label and column label combined using loc

In [ ]:
df.loc['20130102':'20130104',['A','B']]

<a id='iloc'></a>

### Slicing based on index position of the row or column using iloc

[[view df](#slicing)]

In [ ]:
df.iloc[3]  # returns 4th row (index=3) of the data frame

In [ ]:
df.iloc[3:5,0:2]  # returns specific range of rows and columns of the data frame

In [ ]:
df.iloc[[1,5],[0,2]] # returns specific rows and columns using lists containing columns or row indexes

In [ ]:
df.iloc[1:3,:]  # returning specific rows and returning all columns

In [ ]:
df.iloc[:,1:3]  # returning all rows and specific columns

In [ ]:
df.iloc[1,1]  # getting secific scalar/single value

<a id='boolean'></a>

## [Boolean Indexing](http://pandas.pydata.org/pandas-docs/stable/indexing.html#boolean-indexing)

[[view df](#df)]

The boolean operators are: **|** for or, <strong>&</strong> for and, and **~** for not. These **must** be grouped by using parentheses.

In [ ]:
df[df.A > -0.5]  # or df[df["A"] > -0.5], this syntax works when there is a space in the column name

or I've seen some people do boolean filtering by passing "criteria" variable to the data frame like so:

In [ ]:
criteria = df.A > -0.5
df[criteria]

In [ ]:
df2 = df.copy()
df2['E']=['one', 'one','two','three','four','three']
df2

In [ ]:
df2[df2['E'].isin(['two','four'])]  # read as "return rows where column E contains two or four"

#### We can also do partial string matching.  So let's say you don't know the exact spelling a word is you want to match, you can do this:

In [ ]:
df2[df2.E.str.contains("tw|ou")]

#### Using ~ to do a "NOT"

In [ ]:
df2[~df2['E'].isin(['two','four'])]  # column E containing values not in two or four

#### Filtering using query() method

In [ ]:
import numpy as np
import pandas as pd

dates = pd.date_range('20130101',periods=6)
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

In [ ]:
df.query('A > C')

In [ ]:
df.query('A > 0')

In [ ]:
df.query('A > 0 & A < 1')

In [ ]:
df.query('A > B | A > C')  # where A is greater than B or A is greater than C

<a id='partial_column_labels'></a>

## Obtaining columns with partial column labels

[[back to top](#top)]

In [ ]:
import pandas as pd

df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})
df

In [ ]:
df.filter(like='data')

<a id='value_counts'></a>

## Getting Value Counts

It is so tempting to use the groupby() function or pivot_table, but most of the time, value_counts() function is all we need.

[[back to top](#top)]

In [ ]:
import pandas as pd
data = pd.DataFrame({'group': ['a', 'a', 'a', 'b','b', 'b', 'c', 'c','c'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

In [ ]:
data.group.value_counts()

<a id='cum_sum'></a>

## Getting Cumulative Sum

[[back to top](#top)]

In [ ]:
data.group.value_counts().cumsum()

<a id='pivot_table'></a>

## Pivot table example - see also this excellent [article](http://pbpython.com/pandas-pivot-table-explained.html) on pivot tables

[[back to top](#top)]

In [ ]:
import pandas as pd
data = pd.DataFrame({'group': ['a', 'a', 'a', 'b','b', 'b', 'c', 'c','c'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

#### Calculating the means of each group

In [ ]:
data.pivot_table(values='ounces',index='group',aggfunc=np.mean)

#### Getting counts by group

In [ ]:
data.pivot_table(values='ounces',index='group',aggfunc='count')

#### Getting cumulative sum or running total of the group counts

In [ ]:
data.pivot_table(values='ounces',index='group',aggfunc='count').cumsum()

In [ ]:
import pandas as pd

# sample data can be dowloaded here: http://pbpython.com/extras/sales-funnel.xlsx
df = pd.read_csv('/home/pybokeh/Downloads/sales-funnel.csv')

In [ ]:
df.head()

In [ ]:
by_rep = pd.pivot_table(data=df, index='Rep', columns='Product', values='Quantity', aggfunc='count', fill_value=0)
by_rep

<a id="transform">

## Creating a new column based on a grouping using transform() method

[[back to top](#top)]

Let's get sample data from dplython library which is a clone of dplyr

In [ ]:
from dplython import *

In [ ]:
diamonds.head()

**Goal:** Create a column that contains the difference between a diamond's carat and the average of the carats for *that diamond's* color.<br><br>
Key take-away is to use the transform method of your specific column of the groupby object.

In [ ]:
(diamonds.assign(carat_diff=diamonds
                 .groupby('color')['carat']
                 .transform(lambda x:x-x.mean())
                )
                .sort_values(by=['color','carat_diff'])
                .head(10)
)

**For those curious how to do this using dplyr / dplython:**

In [ ]:
# Using dplyr/dplython syntax
(diamonds >>
  group_by(X.color) >>
  mutate(carat_diff = X.carat - X.carat.mean()) >>
  ungroup() >>
  arrange(X.color, X.carat_diff) >>
  head(10)
)

**Here's a [comparison](http://nbviewer.jupyter.org/github/pybokeh/jupyter_notebooks/blob/master/dplython/dplython_example.ipynb) I made between dplython and pandas.**

<a id='perc_rows'>

#### Percent of rows

[[back to top](#top)]

In [ ]:
perc_of_rows = by_rep.apply(lambda x : x / x.sum() * 100, axis='columns') # or axis=1
perc_of_rows

<a id='perc_columns'>

#### Percent of columns

[[back to top](#top)]

In [ ]:
perc_of_columns = by_rep.apply(lambda x : x / x.sum() * 100, axis='index') # or axis=0
perc_of_columns

<a id='transpose'>

## Transpose a data frame

[[back to top](#top)]

Let's say you have a data frame with several columns and having a hard time scrolling to see what the data looks like.  Transpose it!

In [ ]:
import pandas as pd

df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})
df

In [ ]:
df.head(1).transpose()

You can also do df.dtypes to accomplish similar output, but it's nice to see actual data along with the columns.

In [ ]:
df.dtypes

<a id="index2column">

## Converting a data frame index to a column

[[back to top](#top)]

In [ ]:
import pandas as pd
data = pd.DataFrame({'group': ['a', 'a', 'a', 'b','b', 'b', 'c', 'c','c'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

In [ ]:
data.reset_index(level=0, inplace=True)
data

<a id="column2index">

## How to set the data frame's index to be one of the columns

[[back to top]](#top)

In [ ]:
import pandas as pd
col = ['a','b','c']
data = pd.DataFrame([[1,2,3],[10,11,12],[20,21,22]],columns=col)
data

In [ ]:
data = data.set_index('a')
data

To remove the index name ("a"), do:

In [ ]:
data.index.name = None
data

<a id='missing_dates'>

## How to add or fill in missing dates

[[back to top]](#top)

In [ ]:
import pandas as pd

idx = pd.date_range('09-01-2013', '09-30-2013')

s = pd.Series({'09-02-2013': 2,
               '09-03-2013': 10,
               '09-06-2013': 5,
               '09-07-2013': 1})
s

#### From above, we have holes in our data.  Let's fill in those missing holes using the idx date_range we specified above.

In [ ]:
s.index = pd.DatetimeIndex(s.index)

s = s.reindex(idx, fill_value=0)
s

<a id='database'>

## How to connect and query against a database registered as an ODBC data source (Windows)

[[back to top]](#top)

In [ ]:
import pyodbc           # If using PostgreSQL, MySQL, SQLite, Redshift, MS SQL Server, or Oracle, use db.py instead
import pandas as pd
from getpass import getpass    # Module that will create a text input widget AND mask your password

userid = 'your_userid'
pw = getpass(prompt='Enter your password: ')

cnxn_string = 'DSN=your_dsn;UID=' + userid + ';PWD=' + pw

cnxn = pyodbc.connect(cnxn_string)
cursor = cnxn.cursor()

sql = """
SELECT * from your_table...
"""

df = pd.read_sql(sql, cnxn, index_col=None, parse_dates={'some_column':"%Y-%m-%d"})

# Close connections
cursor.close()
cnxn.close()

### Also check out Yhat's [db.py](https://github.com/yhat/db.py).  Currently, doesn't support IBM DB2.  So I'm stuck with pyodbc at work for now.

<a id='melt'>

## How to convert data in wide format to long format using pd.melt()

[[back to top](#top)]

When using [ggplot](https://github.com/yhat/ggplot) to plot data where you have multiple data series you want to plot, you need to convert data in wide format to long format.

In [ ]:
from pandas_datareader import data as web
from datetime import datetime
import pandas as pd

stocks = {'tech':['GOOGL', 'MSFT', 'LNKD', 'YHOO', 'FB','HPQ','AMZN'],
          'auto':['TM','F','GM','HMC','NSANY','HYMTF'],
          'housing':['HD','WMT','LOW']
          }

start_date = datetime(2014,1,1)
end_date = datetime(2014, 11, 30)

def get_px(stock, start, end):
    return web.get_data_yahoo(stock, start, end)['Adj Close']

df = pd.DataFrame({n: get_px(n, start_date, end_date) for n in stocks['tech']})

### Below is what data looks like in 'wide' format:

In [ ]:
df.head(10)

In [ ]:
# Create a column from the index values
df.reset_index(level=0, inplace=True)
df.head(10)

### This is what data looks like in 'long' format:

In [ ]:
df_long = pd.melt(df, id_vars=['Date']).dropna()
df_long.head()

In [ ]:
df_long.tail()

In [ ]:
df_long.rename(columns={'variable': 'Stock', 'value':'Price'},inplace=True)
df_long.head(10)

#### Now we can plot the stock prices.  Since the data is in long format, we can take advantage of ggplot's color= parameter, which will magically make line charts with different colors for each stock.  If the data was in wide format, you would have had to manually specify all the different stocks to plot or use a loop construct.

[[back to top](#top)] [[back to section](#melt)]

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
from ggplot import *

stock_plot = ggplot(df_long, aes(x='Date', y='Price', color='Stock')) + \
        geom_line() + \
        ylab('Price (US$)') + \
        ggtitle('Auto Stocks: Adj Close') + \
        scale_x_date(labels='%b %d %y',breaks=date_breaks('3 months') )
    
# Have to use MATPLOTLIB api to rotate x tick labels.  Hopefully some day, ggplot will implement a rotation option.
fig = stock_plot.draw()
ax = fig.gca()
labels = ax.get_xticklabels() 
for label in labels: 
    label.set_rotation(270)
plt.show()

#### [ggplot](http://blog.yhathq.com/posts/ggplot-for-python.html) is AWESOME!

<a id='pivot'>

## How to convert data in long format to wide format using pd.pivot()

[[back to top](#top)]

In [ ]:
pivoted = df_long.pivot(index='Date', columns='Stock', values='Price')
pivoted.head()

<a id='category'>

## Using category data type to control sort order

[[back to top](#top)]

In [ ]:
import pandas as pd
data = pd.DataFrame({'medal': ['bronze', 'silver', 'silver', 'gold','bronze', 'bronze', 'gold', 'gold','gold'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

In [ ]:
data["medal"] = data["medal"].astype("category")
data.dtypes

In [ ]:
data.sort_values(by=["medal"])

### Now define the order of the cetgorical data using set_categories()

[[back to top](#top)] [[back to section](#category)]

In [ ]:
data["medal"].cat.set_categories([ "gold","silver","bronze"],inplace=True)

In [ ]:
data.sort_values(by=["medal"])

<a id='merge'>

### Merging 2 data frames using merge()

[[back to top](#top)]

In [ ]:
import pandas as pd
left = pd.DataFrame({'group': ['a', 'a', 'a', 'b','b', 'b', 'c', 'c','c'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
left

In [ ]:
right = pd.DataFrame({'label': ['a','b','c'],
                     'value': ['alpha','beta','charlie']})
right

#### By default, merge() does an inner join, but you can specify 'left', 'right', or 'outer' joins

In [ ]:
inner_joined = pd.merge(left, right, how='inner', left_on='group', right_on='label')
inner_joined

**NOTE:** To merge 2 Series, you have to use [pd.concat()](http://stackoverflow.com/questions/18062135/combining-two-series-into-a-dataframe-in-pandas) instead

#### For more on merge, join, and concatenate, see the official [docs](http://pandas.pydata.org/pandas-docs/stable/merging.html)

<a id="missing">

### Finding rows of a data frame containing missing data

[[back to top](#top)]

In [ ]:
import numpy as np
import pandas as pd
df = pd.DataFrame([range(3), [0, np.NaN, 0], [0, 0, np.NaN], range(3), range(3)])
df

In [ ]:
df.isnull().any(axis=1)

In [ ]:
df[df.isnull().any(axis=1)]

<a id='convert_type'>

### Converting a data type of a column in a data frame

[[back to top](#top)]

In [ ]:
import pandas as pd

a = [['a', '1.2', '4.2'], ['b', '70', '0.03'], ['x', '5', '0']]
df = pd.DataFrame(a, columns=['one', 'two', 'three'])
df

In [ ]:
df.dtypes

In [ ]:
df[['two', 'three']] = df[['two', 'three']].astype(float)

In [ ]:
df.dtypes

<a id="matplotlib">

### Plotting data frames using MATPLOTLIB version 1.5 and up

[[back to top](#top)]

Starting with version 1.5, you can now pass a "data" parameter inside MATPLOTLIB's plot() function

Prior to version 1.5:

In [ ]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt

df = pd.DataFrame({"var1":[1,2,3,4,5,6], "var2":[1,2,3,4,5,6]})
plt.plot(df["var1"], df["var2"])
plt.show()

With version 1.5+

In [ ]:
plt.plot("var1", "var2", data=df)
plt.show()

<a id="subplots">

### Plotting data frame directly and creating sub-plots or grouping using column=, by= parameters

[[back to top]](#top)

**When making histograms, pandas knows to make sub-plots based on the by=column option:**

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

df = pd.read_excel('/home/pybokeh/Downloads/temp.xlsx', sheetname='Claims')
df.hist(column='DTF', by='GRADE_SHORT')
plt.show()

**For box plots, instead of making sub-plots, pandas intelligently splits the data using the by= parameter"**:

In [ ]:
df.boxplot(column='DTF', by='GRADE_SHORT')
plt.show()

<a id="bokeh">

### Creating a Bokeh Chart from a Data Frame - see the [docs](http://bokeh.pydata.org/en/latest/docs/reference/charts.html) for more examples

conda install bokeh or pip instal bokeh

[[back to top](#top)]

In [ ]:
from bokeh.sampledata.autompg import autompg as df
from bokeh.charts import BoxPlot, output_notebook, show, hplot

box = BoxPlot(df, values='mpg', label='cyl', title="Auto MPG Box Plot", plot_width=400, plot_height=400)
box2 = BoxPlot(df, values='mpg', label='cyl', color='cyl',
               title="MPG Box Plot by Cylinder Count", plot_width=400, plot_height=400)

output_notebook()
show(hplot(box, box2))

<a id="plotly">

### Making plotly charts directly from data frame.  See plotly [documentation](https://plot.ly/python/offline/) for more details.

Need to first install plotly and cufflinks: pip install plotly and pip install cufflinks

[[back to top](#top)]

In [ ]:
import pandas as pd
from plotly.offline import download_plotlyjs, init_notebook_mode, iplot
import numpy as np
import cufflinks as cf
init_notebook_mode()

df = pd.DataFrame(np.random.rand(10, 5), columns=['A', 'B', 'C', 'D', 'E'])

iplot(df.iplot(asFigure=True, kind='box', title='Plotly Pandas', dimensions=(800,500)))

<a id="chaining">

### Method Chaining

[[back to top](#top)]

With method chaining, it eliminates the need for making intermediary variables.  You can process your data frame in a series of method calls when you enclose your data frame with parenthesis. Here's a very contrived example:

In [ ]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = (pd.read_csv('/home/pybokeh/temp/vehicles.csv',
                 usecols=['year', 'make', 'model', 'comb08', 'fuelType', 'fuelType1', 
                          'fuelType2', 'atvType', 'cylinders', 'VClass'])
      .rename(columns={'comb08':'combmpg'})
      .query("make in('Honda','Acura','Toyota','Lexus') \
              & fuelType1 in('Regular Gasoline','Premium Gasoline','Midgrade Gasoline') \
              & cylinders in(4, 6) \
              & VClass in('Compact Cars','Subcompact Cars','Midsize Cars','Large Cars','Sport Utility','Minivan') \
              & ~(fuelType2 in('E85','Electricity','Natural Gas','Propane'))")
      ['combmpg'].plot.hist(alpha=0.5, label='Honda Motor Co')
     )
plt.title("Histogram of Combined Hwy+City MPG", weight="bold")
plt.show()

**Also check out [pipe() method](http://pandas.pydata.org/pandas-docs/stable/basics.html#tablewise-function-application).**

<a id="rpy2">

### Sending Pandas data frame to R using rpy2 IPython notebook extension

[[back to top](#top)]

Assuming you have [R](http://www.r-project.org/) and [rpy2](http://rpy.sourceforge.net/rpy2/doc-2.4/html/interactive.html#module-rpy2.ipython.rmagic) installed, we can send a Pandas data frame to R using the rpy2 IPython notebook extension to take advantage of R's various statistical and graphing packages.

#### Simple example where I will pull Yen currency exchange rate data from the web and graph it using R's ggplot2 library:

In [ ]:
# load the rpy2 extension
%load_ext rpy2.ipython

#### Let's fetch the exchange rate data:

In [ ]:
import pandas as pd

pandas_df = pd.read_csv('http://research.stlouisfed.org/fred2/data/EXJPUS.txt', sep='  ', skiprows=28, engine='python',
                 parse_dates=[0], header=None, names=['Month','Value'])

#### Sanity check on the data:

In [ ]:
pandas_df.dtypes

In [ ]:
pandas_df.tail()

#### We'll use this one-liner %R magic command to send the Pandas data frame to R as input using the "-i" flag.  See [here](http://rpy.sourceforge.net/rpy2/doc-2.4/html/interactive.html#module-rpy2.ipython.rmagic) for other flags.

In [ ]:
%R -i pandas_df

#### Alternatively, you can use pandas built-in [facility](http://pandas.pydata.org/pandas-docs/stable/r_interface.html) to do this:

In [ ]:
from rpy2.robjects import pandas2ri
pandas2ri.activate()

#### Next, we'll use %%R magic command which will make the entire code cell R executable:

In [ ]:
%%R -w 800 -h 500 -u px # instead of px, you can also choose 'in', 'cm', or 'mm'
df = as.data.frame(pandas_df)  # ensure data frame that was passed in from Python will be R's data frame type
library(ggplot2)        # plotting library
library(scales)         # enables us to change the x label time scale

p = ggplot(pandas_df, aes(pandas_df$Month, pandas_df$Value))
p = p + 
    geom_line() +
    scale_x_datetime(labels=date_format("%Y-%m"), breaks="5 years", minor_breaks="1 year") +
    ggtitle("Yen to US Dollars") +
    xlab("Time") +
    ylab("Yen Value")
print(p)

[[back to top](#top)]